{{!-- <tr class="{{class}}">
	<td>&nbsp;&nbsp;{{message}}<span class="pull-right"><a href="#"><i class="fa fa-times"></i></a></span></td>
</tr> --}}

<span>{{message}}</span>
<span class="pull-right">
	<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</span>